# Load sql in python

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# connect database

- create a enviorment variable

In [3]:
%env DATABASE_URL= postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

**Check Connection**

In [5]:
%sql select * from information_schema.tables where table_catalog = 'shubham_sms_db' and table_schema in ('public', 'shubham')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
7 rows affected.

[('shubham_sms_db', 'shubham', 'departments', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('shubham_sms_db', 'shubham', 'categories', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('shubham_sms_db', 'shubham', 'products', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('shubham_sms_db', 'shubham', 'customers', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('shubham_sms_db', 'shubham', 'orders', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('shubham_sms_db', 'shubham', 'order_items', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('shubham_sms_db', 'shubham', 'users', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

# Drop table - DDL 
- the table users was previously added table in the schema shubham 
- later on we will create the same table for practice

In [66]:
%%sql 

drop table shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

# How to create table in perticular schema  (Create statement- DDL)
- We do not have the authorization in the public schema so we create our own schema
- to access the tables or perform the other task we always have to use <schema_name.table name>

In [67]:
%%sql 


CREATE TABLE shubham.users(
user_id Serial Primary Key,
user_first_name varchar(30) not null,
user_last_name varchar (30) not null,
user_email_id varchar(50) not null,
user_email_validated boolean default false,
user_password varchar(200),
user_role varchar (1) not null default 'U', --U and A 
is_active boolean default false,
create_ts timestamp default current_timestamp,
last_updated_ts timestamp default current_timestamp


);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

**check the data in the table**

In [68]:
%sql select *from shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
0 rows affected.

[]

**Truncate the table (delete the previous data )(Truncate statement - DDL)**

In [69]:
%sql truncate table shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

# Insert data into table (Inser statement - DML)

**A. single line item**

In [70]:
%%sql


insert into shubham.users (user_first_name,user_last_name,user_email_id)
values('Shubham', 'Mathur', 'shubhammathur05@gmail.com');

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[]

**check the inserted data**

In [71]:
%sql select * from shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(1, 'Shubham', 'Mathur', 'shubhammathur05@gmail.com', False, None, 'U', False, datetime.datetime(2022, 11, 12, 19, 57, 10, 512425), datetime.datetime(2022, 11, 12, 19, 57, 10, 512425))]

**B. Multiple Line Item**

In [72]:
%%sql
 insert into shubham.users
    (user_first_name,
     user_last_name,
     user_email_id,
     user_password,
     user_role,
     is_active
    )
    values
    ('Ashish','Mathur','ashishmathur08@gmail.com','ashish@123','U',true),
    ('Jai','Mathur','jaimathur21@gmail.com','jai@123','U',true),
    ('Ayush','Saxena','ayush32@gmail.com','ayush@123','U',true)

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[]

**check the inserted data**

In [73]:
%sql select * from shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[(1, 'Shubham', 'Mathur', 'shubhammathur05@gmail.com', False, None, 'U', False, datetime.datetime(2022, 11, 12, 19, 57, 10, 512425), datetime.datetime(2022, 11, 12, 19, 57, 10, 512425)),
 (2, 'Ashish', 'Mathur', 'ashishmathur08@gmail.com', False, 'ashish@123', 'U', True, datetime.datetime(2022, 11, 12, 19, 57, 22, 18930), datetime.datetime(2022, 11, 12, 19, 57, 22, 18930)),
 (3, 'Jai', 'Mathur', 'jaimathur21@gmail.com', False, 'jai@123', 'U', True, datetime.datetime(2022, 11, 12, 19, 57, 22, 18930), datetime.datetime(2022, 11, 12, 19, 57, 22, 18930)),
 (4, 'Ayush', 'Saxena', 'ayush32@gmail.com', False, 'ayush@123', 'U', True, datetime.datetime(2022, 11, 12, 19, 57, 22, 18930), datetime.datetime(2022, 11, 12, 19, 57, 22, 18930))]

# Update Statement DML 
 
 - we must use where cluse in the update statement 
 - we need good understanding of where statement
 - if we are not using where clause then all the data into the table will be update

In [74]:
%%sql 

update shubham.users
set user_role = 'A'
where user_id=1;

update shubham.users
set 
user_email_validated = true,
is_active = true;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.
4 rows affected.

[]

**check updated values**

In [75]:
%%sql
        
select * from shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[(2, 'Ashish', 'Mathur', 'ashishmathur08@gmail.com', True, 'ashish@123', 'U', True, datetime.datetime(2022, 11, 12, 19, 57, 22, 18930), datetime.datetime(2022, 11, 12, 19, 57, 22, 18930)),
 (3, 'Jai', 'Mathur', 'jaimathur21@gmail.com', True, 'jai@123', 'U', True, datetime.datetime(2022, 11, 12, 19, 57, 22, 18930), datetime.datetime(2022, 11, 12, 19, 57, 22, 18930)),
 (4, 'Ayush', 'Saxena', 'ayush32@gmail.com', True, 'ayush@123', 'U', True, datetime.datetime(2022, 11, 12, 19, 57, 22, 18930), datetime.datetime(2022, 11, 12, 19, 57, 22, 18930)),
 (1, 'Shubham', 'Mathur', 'shubhammathur05@gmail.com', True, None, 'A', True, datetime.datetime(2022, 11, 12, 19, 57, 10, 512425), datetime.datetime(2022, 11, 12, 19, 57, 10, 512425))]

In [76]:
%%sql

update shubham.users
set
user_email_id = upper(user_email_id);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[]

In [77]:
%%sql

select user_id, user_email_id from shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[(2, 'ASHISHMATHUR08@GMAIL.COM'),
 (3, 'JAIMATHUR21@GMAIL.COM'),
 (4, 'AYUSH32@GMAIL.COM'),
 (1, 'SHUBHAMMATHUR05@GMAIL.COM')]

# Alter table statement - DDL 

- we are adding a new column in this 
- after adding the column we will use DML's update statement ot fill the values in the new column 
- in the new column "user_full_name" we will concat the "user_first_name" and "user_last_name"

In [78]:
%%sql

alter table shubham.users
add column user_full_name varchar(60);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

**check the concat function before updating**

In [79]:
%%sql 
select concat(user_first_name, ' ', user_last_name) from shubham.users;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[('Ashish Mathur',), ('Jai Mathur',), ('Ayush Saxena',), ('Shubham Mathur',)]

**updating the values into the new column**

In [80]:
%%sql 

update  shubham.users
set
user_full_name = concat(user_first_name, ' ', user_last_name);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[]

In [81]:
%%sql 
select user_first_name, user_last_name, user_full_name from shubham.users;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[('Ashish', 'Mathur', 'Ashish Mathur'),
 ('Jai', 'Mathur', 'Jai Mathur'),
 ('Ayush', 'Saxena', 'Ayush Saxena'),
 ('Shubham', 'Mathur', 'Shubham Mathur')]

# Delete Data (Delete Statement - DML)

**check the existing data**

In [82]:
%%sql

select user_id, user_password from shubham.users;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[(2, 'ashish@123'), (3, 'jai@123'), (4, 'ayush@123'), (1, None)]

**Delete the data based on the password**
- if password is null then we will delete otherwise not deleted

In [5]:
%%sql

delete from shubham.users where user_password is null;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[]

**check the changes if the record is deleted or not**

In [6]:
%%sql

select user_id, user_password from shubham.users;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[(2, 'ashish@123'), (3, 'jai@123'), (4, 'ayush@123')]