# Overview of Pandas for Data Processing

Let us get an overview of Pytho Pandas Libary

- Pandas is one of the most popular libaries of Python.
- Usage:- Data Processing, Data Analysis(including Visualization)
- Robust APIs to read data from different sources, process data and writedata to different targets.
- Integrated with File Formats, Databases, REST APIs, etc.
- Easy to integrate with additional File Systems or Databases (install additional libraries)

In [4]:
# install the Pandas first and then import it 

!pip install pandas

Traceback (most recent call last):
  File "C:\Users\Shubham\AppData\Local\Programs\Python\Python310\lib\runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\Shubham\AppData\Local\Programs\Python\Python310\lib\runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "e:\Projects\Data_Engineering\Data-Engineering\data-venv\Scripts\pip.exe\__main__.py", line 4, in <module>
ModuleNotFoundError: No module named 'pip'

In [2]:
import pandas as pd 

orders = pd.read_csv('E:/Projects/Data_Engineering/Data-Engineering/data/retail_db/orders/part-00000')

In [3]:
orders

           1  2013-07-25 00:00:00.0  11599           CLOSED
0          2  2013-07-25 00:00:00.0    256  PENDING_PAYMENT
1          3  2013-07-25 00:00:00.0  12111         COMPLETE
2          4  2013-07-25 00:00:00.0   8827           CLOSED
3          5  2013-07-25 00:00:00.0  11318         COMPLETE
4          6  2013-07-25 00:00:00.0   7130         COMPLETE
...      ...                    ...    ...              ...
68877  68879  2014-07-09 00:00:00.0    778         COMPLETE
68878  68880  2014-07-13 00:00:00.0   1117         COMPLETE
68879  68881  2014-07-19 00:00:00.0   2518  PENDING_PAYMENT
68880  68882  2014-07-22 00:00:00.0  10000          ON_HOLD
68881  68883  2014-07-23 00:00:00.0   5533         COMPLETE

[68882 rows x 4 columns]