# Overview of Pandas for Data Processing

Let us get an overview of Pytho Pandas Libary

- Pandas is one of the most popular libaries of Python.
- Usage:- Data Processing, Data Analysis(including Visualization)
- Robust APIs to read data from different sources, process data and writedata to different targets.
- Integrated with File Formats, Databases, REST APIs, etc.
- Easy to integrate with additional File Systems or Databases (install additional libraries)

In [2]:
# install the Pandas first and then import it 

!pip install pandas

Requirement already satisfied: pandas in e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages (2.0.0)
Requirement already satisfied: tzdata>=2022.1 in e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'E:\Projects\Data_Engineering\Data-Engineering\data-venv\Scripts\python.exe -m pip install --upgrade pip' command.

## Read data form CSV file

In [7]:
import pandas as pd 

column_list = ["order_id","order_date", "order_customer_id","order_status"]
file_path = 'E:/Projects/Data_Engineering/Data-Engineering/data/retail_db/orders/part-00000'
orders = pd.read_csv(
                    file_path,
                    names= column_list
)

In [8]:
orders

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]