- Here we need to get all the Data set Names form the path and based on that Data set name we will read the data from the CSV file.

- In order to do that we can't use **split** function directly on the path because our path is having both **\ and //** so that we need to use **split function which takes regular exprations** as argumnent 

 - for that we need to use **re** module for regular exprations.

In [2]:
import re
import glob
import pandas as pd 
import json

In [6]:
src_file_names = glob.glob(
    'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db/*/part-*',
    recursive= True
)
src_file_names

['E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\categories\\part-00000',
 'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\customers\\part-00000',
 'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\departments\\part-00000',
 'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\orders\\part-00000',
 'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\order_items\\part-00000',
 'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\products\\part-00000']

In [9]:
# split the paths to get all the Data set Name.
for file_path in src_file_names:
    data_set_names = re.split('[/\\\]', file_path)
    print(data_set_names)

['E:', 'Projects', 'Data_Engineering', 'Data-Engineering', 'material', '02_PYTHON', 'File_Format_Converter_Project_1', 'data', 'retail_db', 'categories', 'part-00000']
['E:', 'Projects', 'Data_Engineering', 'Data-Engineering', 'material', '02_PYTHON', 'File_Format_Converter_Project_1', 'data', 'retail_db', 'customers', 'part-00000']
['E:', 'Projects', 'Data_Engineering', 'Data-Engineering', 'material', '02_PYTHON', 'File_Format_Converter_Project_1', 'data', 'retail_db', 'departments', 'part-00000']
['E:', 'Projects', 'Data_Engineering', 'Data-Engineering', 'material', '02_PYTHON', 'File_Format_Converter_Project_1', 'data', 'retail_db', 'orders', 'part-00000']
['E:', 'Projects', 'Data_Engineering', 'Data-Engineering', 'material', '02_PYTHON', 'File_Format_Converter_Project_1', 'data', 'retail_db', 'order_items', 'part-00000']
['E:', 'Projects', 'Data_Engineering', 'Data-Engineering', 'material', '02_PYTHON', 'File_Format_Converter_Project_1', 'data', 'retail_db', 'products', 'part-00000']

## Read CSV Data into Pandas Dataframes with schema dynamically.

In [10]:
file = src_file_names[0]
file

'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\\categories\\part-00000'

In [11]:
data_set_name = re.split('[/\\\]',file)[-2]
data_set_name

'categories'

In [12]:
# Get all the column names for data set name 
file_path = 'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db/schemas.json'
schema = json.load(open(file_path))

# get column details.

def get_column_name(schema, tableName, sortingKey='column_position'):
    column_details = schema[tableName]
    column_details_sort = sorted(column_details, key=lambda col:col[sortingKey])
    return [col['column_name'] for col in column_details_sort]


orders_column_names = get_column_name(schema, data_set_name)
orders_column_names

['category_id', 'category_department_id', 'category_name']

In [13]:
data_set_name_data = pd.read_csv(
                                file,
                                names= orders_column_names
)

In [14]:
data_set_name_data

    category_id  category_department_id         category_name
0             1                       2              Football
1             2                       2                Soccer
2             3                       2   Baseball & Softball
3             4                       2            Basketball
4             5                       2              Lacrosse
5             6                       2      Tennis & Racquet
6             7                       2                Hockey
7             8                       2           More Sports
8             9                       3      Cardio Equipment
9            10                       3     Strength Training
10           11                       3   Fitness Accessories
11           12                       3          Boxing & MMA
12           13                       3           Electronics
13           14                       3        Yoga & Pilates
14           15                       3     Training by Sport
15           16                       3       As Seen on  TV!
16           17                       4                Cleats
17           18                       4        Men's Footwear
18           19                       4      Women's Footwear
19           20                       4        Kids' Footwear
20           21                       4        Featured Shops
21           22                       4           Accessories
22           23                       5         Men's Apparel
23           24                       5       Women's Apparel
24           25                       5         Boys' Apparel
25           26                       5        Girls' Apparel
26           27                       5           Accessories
27           28                       5            Top Brands
28           29                       5         Shop By Sport
29           30                       6      Men's Golf Clubs
30           31                       6    Women's Golf Clubs
31           32                       6          Golf Apparel
32           33                       6            Golf Shoes
33           34                       6     Golf Bags & Carts
34           35                       6           Golf Gloves
35           36                       6            Golf Balls
36           37                       6           Electronics
37           38                       6      Kids' Golf Clubs
38           39                       6             Team Shop
39           40                       6           Accessories
40           41                       6              Trade-In
41           42                       7     Bike & Skate Shop
42           43                       7      Camping & Hiking
43           44                       7    Hunting & Shooting
44           45                       7               Fishing
45           46                       7  Indoor/Outdoor Games
46           47                       7               Boating
47           48                       7          Water Sports
48           49                       8                   MLB
49           50                       8                   NFL
50           51                       8                   NHL
51           52                       8                   NBA
52           53                       8                  NCAA
53           54                       8                   MLS
54           55                       8  International Soccer
55           56                       8        World Cup Shop
56           57                       8           MLB Players
57           58                       8           NFL Players

### Combine all the details above for all the Data Sets

In [20]:
for file in src_file_names:
    print(f'processing {file}')
    data_set_name = re.split('[/\\\]', file)[-2]
    data_set_columns = get_column_name(schema, data_set_name)
    df = pd.read_csv(
                    file,
                    names= data_set_columns
                    )
    
    print(f'shape of {data_set_name}\'s is {df.shape}')

processing E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\categories\part-00000
shape of categories's is (58, 3)
processing E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\customers\part-00000
shape of customers's is (12435, 9)
processing E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\departments\part-00000
shape of departments's is (6, 2)
processing E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\orders\part-00000
shape of orders's is (68883, 4)
processing E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\order_items\part-00000
shape of order_items's is (172198, 6)
processing E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db\products\part-00000
shape of products's is (1345, 6)

In [19]:
df

,product_id,product_cateogry_id,product_name,product_description,product_price,product_image
0,1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,NaN,59.98,http://images.acmesports.sports/Quest+Q64+10+F...
1,2,2,Under Armour Men's Highlight MC Football Clea,NaN,129.99,http://images.acmesports.sports/Under+Armour+M...
2,3,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
3,4,2,Under Armour Men's Renegade D Mid Football Cl,NaN,89.99,http://images.acmesports.sports/Under+Armour+M...
4,5,2,Riddell Youth Revolution Speed Custom Footbal,NaN,199.99,http://images.acmesports.sports/Riddell+Youth+...
...,...,...,...,...,...,...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,NaN,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,NaN,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,NaN,100.00,http://images.acmesports.sports/Nike+Men%27s+H...