# Load SQL and Connect to DB

In [2]:
%load_ext sql

# **Connect to DB**

In [56]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

# Different Types of Constraints

- Let us understand details about different types of cinstraints used in RBMS databases.
    - supported constraints:
        - NOT NULL constraint : column values can not be null, can be added with alter command but typically diffine while creating table
        - Check Constraints : column values compaire aginest the diffine values, can be added with alter command but typically diffine while creating table
        - Unique Constraint : all the values in the column should be unique. This will include null values also and can be have more then one null values. 
        - PRIMARY KEY : Unique as well as not null
        - FOREIGN KEY : this will create after the table creation with alter command. It is used to define relationship between 2 tables.
        - Compaire PRIMARY KEY and UNIQUE
            - Only one PRIMARY KEY in the table where as there can be any number of UNIQUE constraints.
            - UNIQUE columns can have null values unless NOT NULL endorced but in  PRIMARY KEY both uniqueness and not null are strictly enforced.
            - FOREIGN KEY from child table can be define against PRIMARY KEY and UNIQUE column.
            - PRIMARY KEYS columns are surrogate keys which are supported by sequence.
            - PRIMARY KEY or UNIQUE can be composite. it means there can be more then one column to define PRIMARY KEY or UNIQUE constraint.
         - Let us perform tasks to understand how we can use `ALTER TABLE` command to add or drop the constraints.
            - Use the prior users table with out any constraints.
            - Add primary key constraint on user_id.
            - Add unique constraint on user_email_id.
            - Add not null constraints user_email_validated, user_role, created_dt, last_updated_ts
            - Add check constraint to user_role with ‘U’ and ‘A’ as accepted values.
            - Add new table user_logins with below columns and establish foreign key relationship with users.
                - user_login_id - SERIAL and PRIMARY KEY
                - user_id - INT
                - user_login_time - TIMESTAMP defaulted to CURRENT_TIMESTAMP
                - user_logins is child table to users with many to one relationship. Hence, create **foreign key** between **user_logins.user_id to - users.user_id**.

In [12]:
%%sql 

Drop table if exists shubham.users;
Drop sequence if exists shubham.users_user_id_seq;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.
Done.

[]

In [13]:
%%sql 

    Create Table shubham.users(
        user_id INT,
        user_first_name VARCHAR(30) NOT NULL,
        user_last_name VARCHAR(30) NOT NULL,
        user_email_id VARCHAR(50) NOT NULL,
        user_email_validated BOOLEAN,
        user_password VARCHAR(200),
        user_role VARCHAR(1),
        is_active BOOLEAN,
        created_dt DATE DEFAULT CURRENT_DATE
        );

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [14]:
%%sql

 Create sequence shubham.users_user_id_seq

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [15]:
%%sql

    Alter table shubham.users
        Alter column user_id set default nextval ('shubham.users_user_id_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [16]:
%%sql

 Alter table shubham.users
        Alter column user_email_validated set default FALSE,
        Alter column is_active set default FALSE,
        Alter column user_role set Data Type CHAR(1),
        Alter column user_role set Default 'U',
        ADD column last_updated_ts TIMESTAMP default CURRENT_TIMESTAMP

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [23]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[('shubham_sms_db', 'users', '16390_24715_2_not_null', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'shubham')]

## Primary Key

In [24]:
%%sql

Alter table shubham.users ADD PRIMARY KEY(user_id);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [26]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
5 rows affected.

[('shubham_sms_db', 'users', 'users_pkey', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_1_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_2_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'CHECK', 'shubham')]

### Drop an constarins
   - if we drop an constraint then the not null property will not be droped

In [27]:
%%sql 

    ALTER TABLE shubham.users DROP constraint users_pkey;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [28]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
4 rows affected.

[('shubham_sms_db', 'users', '16390_24715_1_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_2_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'CHECK', 'shubham')]

### Add any constaraints with CONSTRAINT key word

In [31]:
%%sql

    ALTER table shubham.users add constraint Main_key Primary Key (user_id)

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [32]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
5 rows affected.

[('shubham_sms_db', 'users', 'main_key', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_1_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_2_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'CHECK', 'shubham')]

## UNIQUE Constaints

In [34]:
%%sql 

    ALTER table shubham.users add constraint unique_key UNIQUE (user_email_id);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [35]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
6 rows affected.

[('shubham_sms_db', 'users', 'main_key', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'users', 'unique_key', 'UNIQUE', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_1_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_2_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'CHECK', 'shubham')]

## NOT NULL constraints

In [38]:
%%sql 

     Alter Table shubham.users
            alter column user_email_validated set NOT NULL,
            alter column user_role set NOT NULL,
            alter column created_dt set NOT NULL,
            alter column last_updated_ts  set NOT NULL;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [39]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[('shubham_sms_db', 'users', 'main_key', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'users', 'unique_key', 'UNIQUE', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_1_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_2_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_5_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_7_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_9_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_10_not_null', 'CHECK', 'shubham')]

## Check Constraints

In [40]:
%%sql 

    Alter table shubham.users
        add check (user_role IN ('U','A'))

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [41]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'users'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
11 rows affected.

[('shubham_sms_db', 'users', 'main_key', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'users', 'unique_key', 'UNIQUE', 'shubham'),
 ('shubham_sms_db', 'users', 'users_user_role_check', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_1_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_2_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_3_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_4_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_5_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_7_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_9_not_null', 'CHECK', 'shubham'),
 ('shubham_sms_db', 'users', '16390_24715_10_not_null', 'CHECK', 'shubham')]

### FOREIGN Key

- create table for further explination and prectice

In [45]:
%%sql 

    CREATE TABLE shubham.user_logins(
        user_login_id SERIAL PRIMARY KEY,
        user_id INT,
        user_login_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        user_ip_addr VARCHAR(20)
    );

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [46]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'user_logins'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
2 rows affected.

[('shubham_sms_db', 'user_logins', 'user_logins_pkey', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'user_logins', '16390_24736_1_not_null', 'CHECK', 'shubham')]

In [49]:
%%sql 

    alter table shubham.user_logins
        ADD CONSTRAINT user_logins_fKey FOREIGN KEY (user_id)
        References shubham.users(user_id);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [51]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'user_logins'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[('shubham_sms_db', 'user_logins', 'user_logins_pkey', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'user_logins', 'user_logins_fkey', 'FOREIGN KEY', 'shubham'),
 ('shubham_sms_db', 'user_logins', '16390_24736_1_not_null', 'CHECK', 'shubham')]

- if we want to drop the parent table at this stage then it will give us error like below

In [54]:
%%sql 

     Drop table shubham.users;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db

InternalError: (psycopg2.errors.DependentObjectsStillExist) cannot drop table shubham.users because other objects depend on it
DETAIL:  constraint user_logins_fkey on table shubham.user_logins depends on table shubham.users
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: Drop table shubham.users;]
(Background on this error at: https://sqlalche.me/e/14/2j85)

- so as we can see the error, that users table has the dependent objects so if we want to delete users table then we have to either delete the dependent object first (delete the foreign key constraint form the user_logins table) and then delete the users table or we have to user keyword **CASCADE** at the end of the DROP statement

In [57]:
%%sql

    DROP table shubham.users CASCADE;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- after droping the parent table if we check the constraint in the child table then foreign key constraint is also droped without touching any other thing in the child table

In [58]:
%%sql 

    select table_catalog,
           table_name,
           constraint_name,
            constraint_type,
            constraint_schema
    from information_schema.table_constraints
        where table_name = 'user_logins'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
2 rows affected.

[('shubham_sms_db', 'user_logins', 'user_logins_pkey', 'PRIMARY KEY', 'shubham'),
 ('shubham_sms_db', 'user_logins', '16390_24736_1_not_null', 'CHECK', 'shubham')]