# Load SQL

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Connect Database

In [39]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

# Overview of SequencesÂ¶

- Let us go through some of the important details related to sequences.

    - For almost all the tables in relational databases we define primary key constraints.

    - Primary key is nothing but unique constraint with not null and there can be only one primary key in any given table.

    - Many times, we might not have appropriate column in the table which can be used as primary key. In those scenarios we will define a column which does not have any business relevant values. This is called as **surrogate key**.

    - Relational Database technologies provide sequences to support these **surrogate primary keys**.

    - In postgres we can define **surrogate primary key** for a given table as SERIAL. Internally it will create a sequence.

    - We can also pre-create a sequence and use it to populate multiple tables.

    - Even if we do not specify the column and value as part of the insert statement, a sequence generated number will be populated in that column.

    - Typically, the sequence generated number will be incremented by 1. We can change it by specifying a constant value using INCREMENT BY.

    - Here are some of the properties that can be set for a sequence. Most of them are self explanatory.

        - START WITH

        - RESTART WITH

        - MINVALUE

        - MAXVALUE

        - CACHE

    - We can use functions such as nextval and currval to explicitly generate sequence numbers and also to get current sequence number in the current session.

    - We might have to use RESTART WITH to reset the sequences after the underlying tables are populated with values in surrogate key.

In [14]:
%%sql

drop sequence if exists test_seq

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- **create a sequence with all the above mention values**

In [18]:
%%sql

create sequence shubham.test_seq
start with 101
minvalue 101 
maxvalue 100000
increment by 100

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- **now we will check the current values and nextvalues for the sequence**

In [25]:
%%sql

select currval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
(psycopg2.errors.ObjectNotInPrerequisiteState) currval of sequence "test_seq" is not yet defined in this session

[SQL: select currval('shubham.test_seq')]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

- cause of above error is that we yet to initialize the sequence.

In [26]:
%%sql 

select nextval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(101,)]

In [27]:
%%sql 

select currval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(101,)]

- after first initialization every time we hit nextval the seq will jump according to the defination and change the values.

In [28]:
%%sql

select nextval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(201,)]

In [29]:
%%sql 
select currval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(201,)]

In [30]:
%%sql
select nextval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(301,)]

In [31]:
%%sql

select currval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(301,)]

- We can alter the seq as below

In [32]:
%%sql 

alter sequence shubham.test_seq
increment by 1
restart with 101

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [34]:
%%sql 

select nextval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(101,)]

In [35]:
%%sql 

select currval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(101,)]

In [36]:
%%sql

select nextval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(102,)]

In [37]:
%%sql


select currval('shubham.test_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(102,)]

- how to incorporate sequence into table
    - we can add sequence directly while creating table with the keyword **SERIAL**
    - we can add the sequence after the table creation with the alter command 
    - we always use nextval clause while assinging a seq to a column to intialize the seq.
    - the start value will be the current value of the sequence if we did not reastet the seq.

In [40]:
%%sql 

drop table if exists shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [41]:
%%sql 

drop sequence if exists shubham.users_user_id_seq

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- In the below table creation we directly use serial keyword which will incorporate the seq and initialized also

In [44]:
%%sql 

Create Table shubham.users(
        user_id SERIAL PRIMARY KEY,
        user_first_name VARCHAR(30) NOT NULL,
        user_last_name VARCHAR(30) NOT NULL,
        user_email_id VARCHAR(50) NOT NULL,
        user_email_validated BOOLEAN ,
        user_password VARCHAR(200),
        user_role VARCHAR(1) ,
        is_active BOOLEAN,
        created_dt DATE DEFAULT CURRENT_DATE

    );

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]