# Load SQL and Connect to DB

In [1]:
%load_ext sql

**Connect to DB**

In [6]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

# Sorting Data

**Let us uderstand how to sort the data using SQL**

- We typically perform sorting as final step 
- Sorting can be done either by using one field or multiple fields. Sorting by multiple fileds is also known as composite sorting 
- We can sort the data either in ascending (ASC) or descending (DESC) order by using column or expression.
- By default, the sorting order is ascending and we can change it to descending by using **DESC**.
- As Part of composite sorting, we can sort the data in ascending order on some fields and descending order on other fields.
- Typical query execution order.
    1. `FROM`
    2. `WHERE`
    3. `GROUP BY` and `HAVING`
    4. `SELECT`
    5. `ORDER BY`

- In this sorting will not happen every time we run

In [4]:
%%sql 

select * from shubham.orders limit 5

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
5 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE')]

- Default sorting is Ascending order

In [7]:
%%sql 

    select order_id, order_status 
        from shubham.orders
            order by order_id 
                limit 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(1, 'CLOSED'),
 (2, 'PENDING_PAYMENT'),
 (3, 'COMPLETE'),
 (4, 'CLOSED'),
 (5, 'COMPLETE'),
 (6, 'COMPLETE'),
 (7, 'COMPLETE'),
 (8, 'PROCESSING'),
 (9, 'PENDING_PAYMENT'),
 (10, 'PENDING_PAYMENT')]

- We can change it to descending order

In [8]:
%%sql 

    select order_id, order_status 
        from shubham.orders
            order by order_id DESC
                limit 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(68883, 'COMPLETE'),
 (68882, 'ON_HOLD'),
 (68881, 'PENDING_PAYMENT'),
 (68880, 'COMPLETE'),
 (68879, 'COMPLETE'),
 (68878, 'COMPLETE'),
 (68877, 'ON_HOLD'),
 (68876, 'COMPLETE'),
 (68875, 'ON_HOLD'),
 (68874, 'COMPLETE')]

- If we make sorting with more then one field then it called composite sorting

In [14]:
%%sql    
    select * from shubham.orders
            order by  order_customer_id,
                      order_date
                limit 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(22945, datetime.datetime(2013, 12, 13, 0, 0), 1, 'COMPLETE'),
 (57963, datetime.datetime(2013, 8, 2, 0, 0), 2, 'ON_HOLD'),
 (15192, datetime.datetime(2013, 10, 29, 0, 0), 2, 'PENDING_PAYMENT'),
 (67863, datetime.datetime(2013, 11, 30, 0, 0), 2, 'COMPLETE'),
 (33865, datetime.datetime(2014, 2, 18, 0, 0), 2, 'COMPLETE'),
 (22646, datetime.datetime(2013, 12, 11, 0, 0), 3, 'COMPLETE'),
 (61453, datetime.datetime(2013, 12, 14, 0, 0), 3, 'COMPLETE'),
 (23662, datetime.datetime(2013, 12, 19, 0, 0), 3, 'COMPLETE'),
 (35158, datetime.datetime(2014, 2, 26, 0, 0), 3, 'COMPLETE'),
 (46399, datetime.datetime(2014, 5, 9, 0, 0), 3, 'PROCESSING')]

In [15]:
%%sql 

    select o.order_date,
           oi.order_item_product_id,
           round (sum(oi.order_item_subtotal:: numeric),2 ) as revenue
                from shubham.orders as o
                    join shubham.order_items as oi
                        on o.order_id = oi.order_item_order_id
                where o.order_status in ('COMPLETE','CLOSED')
                    group by o.order_date, oi.order_item_product_id
                    order by o.order_date, revenue DESC
                        limit 10

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(datetime.datetime(2013, 7, 25, 0, 0), 1004, Decimal('5599.72')),
 (datetime.datetime(2013, 7, 25, 0, 0), 191, Decimal('5099.49')),
 (datetime.datetime(2013, 7, 25, 0, 0), 957, Decimal('4499.70')),
 (datetime.datetime(2013, 7, 25, 0, 0), 365, Decimal('3359.44')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1073, Decimal('2999.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 1014, Decimal('2798.88')),
 (datetime.datetime(2013, 7, 25, 0, 0), 403, Decimal('1949.85')),
 (datetime.datetime(2013, 7, 25, 0, 0), 502, Decimal('1650.00')),
 (datetime.datetime(2013, 7, 25, 0, 0), 627, Decimal('1079.73')),
 (datetime.datetime(2013, 7, 25, 0, 0), 226, Decimal('599.99'))]