# Load SQL and Connect to DB

In [1]:
%load_ext sql

## Connect to DB

In [2]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

## CTAS - Create Table as Select

Let us understand details related to CTAS or Create Table As Select.

* CTAS is primarily used to create tables based on query results.
* Following are some of the use cases for which we typically use CTAS.
  * Taking back up of tables for troubleshooting and debugging performance issues.
  * Reorganizing the tables for performance tuning.
  * Getting query results into a table for data analysis as well as checking data quality.
* We cannot specify column names and data types as part of `CREATE TABLE` clause in CTAS. It will pick the column names from the `SELECT` clause.
* It is a good practice to specify meaningful aliases as part of the `SELECT` clause for derived values.
* Also it is a good practice to explicitly type cast to the desired data type for derived values.

In [3]:
%%sql

DROP TABLE IF EXISTS shubham.customers_backup

Done.

[]

In [4]:
%%sql

create table shubham.customer_backup
AS 
select * from shubham.customers

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
12435 rows affected.

[]

In [5]:
%%sql

DROP TABLE IF EXISTS shubham.orders_backup

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [6]:
%%sql

create table shubham.orders_backup

as 

select order_id,
        to_char(order_date,'yyyy')::int as order_year,
        to_char(order_date, 'MM')::int as order_month,
        to_char(order_date, 'DD')::int as order_day_of_month,
        to_char(order_date, 'DDD')::int as order_day_of_year,
        order_customer_id,
        order_status
from shubham.orders

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
68883 rows affected.

[]

In [7]:
%%sql

SELECT * FROM shubham.orders_backup LIMIT 10

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(21, 2013, 7, 25, 206, 2711, 'PENDING'),
 (22, 2013, 7, 25, 206, 333, 'COMPLETE'),
 (23, 2013, 7, 25, 206, 4367, 'PENDING_PAYMENT'),
 (24, 2013, 7, 25, 206, 11441, 'CLOSED'),
 (25, 2013, 7, 25, 206, 9503, 'CLOSED'),
 (26, 2013, 7, 25, 206, 7562, 'COMPLETE'),
 (27, 2013, 7, 25, 206, 3241, 'PENDING_PAYMENT'),
 (28, 2013, 7, 25, 206, 656, 'COMPLETE'),
 (29, 2013, 7, 25, 206, 196, 'PROCESSING'),
 (30, 2013, 7, 25, 206, 10039, 'PENDING_PAYMENT')]

```{note}
At times we have to create empty table with only structure of the table. We can specify always false condition such as `1 = 2` as part of `WHERE` clause using CTAS.
```

In [8]:
%%sql

DROP TABLE IF EXISTS shubam.order_items_empty

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [9]:
%%sql

create table shubham.order_item_empty
as 
select * from shubham.order_items
where 1=2

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
0 rows affected.

[]

In [11]:
%%sql

SELECT count(1) FROM shubham.order_item_empty

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(0,)]

```{note}
Keeping databases clean is very important. It is a good practice to clean up any temporary tables created for learning or troubleshooting issues.

In this case all the tables created using CTAS are dropped
```

In [12]:
%%sql

DROP TABLE IF EXISTS shubham.customers_backup;
DROP TABLE IF EXISTS shubham.orders_backup;
DROP TABLE IF EXISTS shubham.order_item_empty;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.
Done.
Done.

[]