# load SQL and Connect via Enviornment variable

In [1]:
%load_ext sql

In [26]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

## Create table

In [105]:
%%sql 

Create table shubham.courses(
    course_id serial Primary key,
    course_name varchar (60) NOT NULL,
    course_author varchar(40) NOT NULL,
    course_status varchar(20) NOT NULL, -- values should be published, draft, inactive
    course_published_dt date
);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

# insert data into table

In [106]:
%%sql 

Insert into shubham.courses 
(
     course_name,
     course_author,
     course_status,
     course_published_dt
)
values 
('Programming using Python','Bob Dillon', 'published','2020-09-30'),
('Data Engineering using Python', 'Bob Dillon', 'published','2020-07-15');

insert into shubham.courses 
(
     course_name,
     course_author,
     course_status
)
values
('Data Engineering using Scala','Elvis Presley', 'draft');

Insert into shubham.courses 
(
     course_name,
     course_author,
     course_status,
     course_published_dt
)
values 
('Programming using Scala', 'Elvis Presley','published','2020-05-12'),
('Programming using Java', 'Mike Jack','inactive','2020-08-10'),
('Web Application - Python Flask','Bob Dillon','inactive', '2020-07-20');

insert into shubham.courses 
(
     course_name,
     course_author,
     course_status
)
VALUES
('Web Application - Java Spring', 'Mike Jack', 'draft'),
('Pipeline Orchestration - Python', 'Bob Dillon','draft');

Insert into shubham.courses 
(
     course_name,
     course_author,
     course_status,
     course_published_dt
)
values 
('Streaming Pipelines - Python','Bob Dillon','published','2020-10-05'),
('Web Applications - Scala Play', 'Elvis Presley', 'inactive','2020-09-30'),
('Web Applications - Python Diango', 'Bob Dillon', 'published','2020-06-23'),
('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05');

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
2 rows affected.
1 rows affected.
3 rows affected.
2 rows affected.
4 rows affected.

[]

In [107]:
%%sql

select * from shubham.courses

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Application - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Application - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Diango', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]

In [108]:
%%sql 

Update shubham.courses
set course_status = 'published',
course_published_dt = current_date
where course_status = 'draft' and course_name like '%Python%'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[]

In [109]:
%%sql 
select * from shubham.courses

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Application - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Application - Java Spring', 'Mike Jack', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Diango', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2022, 11, 16))]

In [110]:
%%sql 

Update shubham.courses
set course_status = 'published',
course_published_dt = current_date
where course_status = 'draft' and course_name like '%Scala%'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[]

In [111]:
%%sql 
select * from shubham.courses

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Application - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Application - Java Spring', 'Mike Jack', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Diango', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2022, 11, 16)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2022, 11, 16))]

In [112]:
%%sql 

Delete from shubham.courses 
where course_status = 'inactive'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[]

In [113]:
%%sql 

select * from shubham.courses

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
9 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (7, 'Web Application - Java Spring', 'Mike Jack', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (11, 'Web Applications - Python Diango', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5)),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'published', datetime.date(2022, 11, 16)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'published', datetime.date(2022, 11, 16))]

In [116]:
%%sql 

select course_author, count(*) from shubham.courses
where course_status ='published'
Group by course_author
order by count Desc

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[('Bob Dillon', 5), ('Elvis Presley', 2), ('Uncle Sam', 1)]