# Load SQL and Connect to DB

In [1]:
%load_ext sql

## Connect to DB

In [2]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

## Data Type Conversion

Let us understand how we can type cast to change the data type of extracted value to its original type.

In [3]:
%%sql

SELECT '09'::int

1 rows affected.

[(9,)]

In [4]:
%%sql

SELECT current_date AS current_date

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.date(2023, 3, 2),)]

In [179]:
%%sql

SELECT split_part('2020-09-30', '-', 2) AS month

 * postgresql://itversity_retail_user:***@localhost:5432/itversity_retail_db
1 rows affected.

[('09',)]

In [5]:
%%sql

SELECT split_part('2020-09-30', '-', 2)::int AS month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(9,)]

In [6]:
%%sql

SELECT to_char('2020-09-30'::date, 'MM') AS month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[('09',)]

In [7]:
%%sql

SELECT to_char('2020-09-30'::date, 'MM')::int AS month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(9,)]

In [8]:
%%sql

SELECT to_char(current_date, 'MM')::int AS month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(3,)]

In [9]:
%%sql

SELECT cast('0.04000' AS FLOAT) AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(0.04,)]

In [10]:
%%sql

SELECT '0.04000'::float AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(0.04,)]

In [11]:
%%sql

SELECT cast('09' AS INT) AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(9,)]

In [12]:
%%sql

SELECT '09'::int AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(9,)]