# Load SQL and Connect to DB

In [2]:
%load_ext %

## Connect to DB

In [3]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

## Date Manipulation Functions

Let us go through some of the important date manipulation functions.

* Getting Current Date and Timestamp
* Date Arithmetic using `INTERVAL` and `-` operator
* Getting beginning date or time using `date_trunc`
* Extracting information using `to_char` as well as calendar functions.
* Dealing with unix timestamp using `from_unixtime`, `to_unix_timestamp`

### Getting Current Date and Timestamp

Let us understand how to get the details about current or today's date as well as current timestamp.

* `current_date` is the function or operator which will return today's date.
* `current_timestamp` is the function or operator which will return current time up to milliseconds.
* These are not like other functions and do not use **()** at the end.
* There is a format associated with date and timestamp.
  * Date - `yyyy-MM-dd`
  * Timestamp - `yyyy-MM-dd HH:mm:ss.SSS`
* We can apply all string manipulation functions on date or timestamp once they are typecasted to strings using `varchar`.

In [5]:
%%sql

SELECT current_date AS current_date

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.date(2023, 3, 2),)]

In [6]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 15, 51, 510107, tzinfo=datetime.timezone.utc),)]

```{note}
Example of applying string manipulation functions on dates. However, it is not a good practice. Postgres provide functions on dates or timestamps for most of the common requirements.
```

In [7]:
%%sql

SELECT substring(current_date::varchar, 1, 4) AS current_date

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[('2023',)]

### Date Arithmetic
Let us understand how to perform arithmetic on dates or timestamps.

* We can add or subtract days or months or years from date or timestamp by using special operator called as `INTERVAL`.
* We can also add or subtract hours, minutes, seconds etc from date or timestamp using `INTERVAL`.
* We can combine multiple criteria in one operation using `INTERVAL`
* We can get difference between 2 dates or timestamps using minus (`-`) operator.

In [8]:
%%sql

SELECT current_date + INTERVAL '32 DAYS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 4, 3, 0, 0),)]

In [9]:
%%sql

SELECT current_date + INTERVAL '730 DAYS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2025, 3, 1, 0, 0),)]

In [10]:
%%sql

SELECT current_date + INTERVAL '-730 DAYS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2021, 3, 2, 0, 0),)]

In [11]:
%%sql

SELECT current_date - INTERVAL '730 DAYS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2021, 3, 2, 0, 0),)]

In [12]:
%%sql

SELECT current_date + INTERVAL '3 MONTHS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 6, 2, 0, 0),)]

In [13]:
%%sql

SELECT '2019-01-31'::date + INTERVAL '3 MONTHS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 0, 0),)]

In [14]:
%%sql

SELECT '2019-01-31'::date + INTERVAL '3 MONTHS 3 DAYS 3 HOURS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2019, 5, 3, 3, 0),)]

In [15]:
%%sql

SELECT current_timestamp + INTERVAL '3 MONTHS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 6, 2, 8, 19, 41, 821846, tzinfo=datetime.timezone.utc),)]

In [16]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 18, 19, 51, 638585, tzinfo=datetime.timezone.utc),)]

In [17]:
%%sql

SELECT current_timestamp + INTERVAL '10 MINUTES' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 29, 56, 947421, tzinfo=datetime.timezone.utc),)]

In [18]:
%%sql

SELECT current_timestamp + INTERVAL '10 HOURS 10 MINUTES' AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 18, 30, 22, 443402, tzinfo=datetime.timezone.utc),)]

In [19]:
%%sql

SELECT '2019-03-30'::date - '2017-12-31'::date AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(454,)]

In [20]:
%%sql

SELECT '2017-12-31'::date - '2019-03-30'::date AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(-454,)]

In [21]:
%%sql

SELECT current_date - '2019-03-30'::date AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(1433,)]

In [22]:
%%sql

SELECT current_timestamp - '2019-03-30'::date AS result

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.timedelta(days=1433, seconds=30082, microseconds=48737),)]

### Beginning Date or Time - date_trunc
Let us understand how to use `date_trunc` on dates or timestamps and get beginning date or time.

* We can use **MONTH** to get beginning date of the month.
* **YEAR** can be used to get begining date of the year.

In [23]:
%%sql

SELECT date_trunc('YEAR', current_date) AS year_beginning

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 1, 1, 0, 0, tzinfo=datetime.timezone.utc),)]

In [24]:
%%sql

SELECT date_trunc('MONTH', current_date) AS month_beginning

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 1, 0, 0, tzinfo=datetime.timezone.utc),)]

In [25]:
%%sql

SELECT date_trunc('WEEK', current_date) AS week_beginning

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 2, 27, 0, 0, tzinfo=datetime.timezone.utc),)]

In [26]:
%%sql

SELECT date_trunc('DAY', current_date) AS day_beginning

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 0, 0, tzinfo=datetime.timezone.utc),)]

In [27]:
%%sql

SELECT date_trunc('HOUR', current_timestamp) AS hour_beginning

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 0, tzinfo=datetime.timezone.utc),)]

### Extracting information using to_char

Let us understand how to use `to_char` to extract information from date or timestamp.

Here is how we can get date related information such as year, month, day etc from date or timestamp.

In [28]:
%%sql

SELECT current_timestamp AS current_timestamp

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 23, 47, 438551, tzinfo=datetime.timezone.utc),)]

In [29]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'yyyy') AS year

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 23, 59, 52748, tzinfo=datetime.timezone.utc), '2023')]

In [30]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'yy') AS year

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 4, 814036, tzinfo=datetime.timezone.utc), '23')]

In [31]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'MM') AS month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 14, 110902, tzinfo=datetime.timezone.utc), '03')]

In [32]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'dd') AS day_of_month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 19, 132461, tzinfo=datetime.timezone.utc), '02')]

In [33]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DD') AS day_of_month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 26, 541503, tzinfo=datetime.timezone.utc), '02')]

In [34]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DDD') AS day_of_year

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 32, 55123, tzinfo=datetime.timezone.utc), '061')]

In [35]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Mon') AS month_name

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 52, 146592, tzinfo=datetime.timezone.utc), 'Mar')]

In [36]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'mon') AS month_name

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 24, 57, 169223, tzinfo=datetime.timezone.utc), 'mar')]

In [37]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Month') AS month_name

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 25, 2, 468864, tzinfo=datetime.timezone.utc), 'March    ')]

In [38]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'month') AS month_name

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 25, 8, 143686, tzinfo=datetime.timezone.utc), 'march    ')]

In [39]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'day') AS day_name

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 25, 19, 353030, tzinfo=datetime.timezone.utc), 'thursday ')]

In [40]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'DY') AS day_name

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 25, 23, 518920, tzinfo=datetime.timezone.utc), 'THU')]

```{note}
When we use `Day` to get the complete name of a day, it will return 9 character string by padding with spaces.
```

In [41]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'Day') AS dayname

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 25, 27, 880882, tzinfo=datetime.timezone.utc), 'Thursday ')]

In [42]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char('2020-11-17'::date, 'Day') AS dayname,
    length(to_char('2020-11-17'::date, 'Day')) AS dayname_length,
    length(trim(to_char('2020-11-17'::date, 'Day'))) AS dayname_trimmed_length

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 26, 0, 265761, tzinfo=datetime.timezone.utc), 'Tuesday  ', 9, 7)]

* Here is how we can get time related information such as hour, minute, seconds, milliseconds etc from timestamp.

In [43]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'HH') AS hour24

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 26, 45, 381356, tzinfo=datetime.timezone.utc), '08')]

In [44]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'hh') AS hour12

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 26, 50, 79223, tzinfo=datetime.timezone.utc), '08')]

In [45]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'mm') AS minutes

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 26, 53, 654781, tzinfo=datetime.timezone.utc), '03')]

In [46]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'ss') AS seconds

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 27, 8, 886545, tzinfo=datetime.timezone.utc), '08')]

In [47]:
%%sql

SELECT current_timestamp AS current_timestamp, 
    to_char(current_timestamp, 'MS') AS millis

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2023, 3, 2, 8, 27, 19, 700057, tzinfo=datetime.timezone.utc), '700')]

* Here is how we can get the information from date or timestamp in the format we require.

In [48]:
%%sql

SELECT to_char(current_timestamp, 'yyyyMM') AS current_month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[('202303',)]

In [49]:
%%sql

SELECT to_char(current_timestamp, 'yyyyMMdd') AS current_date

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[('20230302',)]

In [50]:
%%sql

SELECT to_char(current_timestamp, 'yyyy/MM/dd') AS current_date

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[('2023/03/02',)]

### Extracting information - extract

We can get year, month, day etc from date or timestamp using `extract` function. For almost all these scenarios such as getting year, month, day etc we can use `to_char` as well.

* Let us see the usage of `extract` to get information such as year, quarter, month, week, day, hour etc.
* We can also use `date_part` in place of `extract`. However there is subtle difference between them with respect to the syntax.

In [51]:
%%sql

SELECT extract(century FROM current_date) AS century

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('21'),)]

In [52]:
%%sql

SELECT date_part('century', current_date) AS century

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(21.0,)]

In [53]:
%%sql

SELECT extract(decade FROM current_date) AS decade

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('202'),)]

In [54]:
%%sql

SELECT date_part('decade', current_date) AS century

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(202.0,)]

In [55]:
%%sql

SELECT extract(year FROM current_date) AS year

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('2023'),)]

In [56]:
%%sql

SELECT extract(quarter FROM current_date) AS quarter

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('1'),)]

In [57]:
%%sql

SELECT extract(month FROM current_date) AS month

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('3'),)]

In [58]:
%%sql

SELECT extract(week FROM current_date) AS week

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('9'),)]

In [59]:
%%sql

SELECT extract(day FROM current_date) AS day

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('2'),)]

In [60]:
%%sql

SELECT extract(doy FROM current_date) AS day_of_year

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('61'),)]

In [61]:
%%sql

SELECT extract(dow FROM current_date) AS day_of_week

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('4'),)]

In [62]:
%%sql

SELECT extract(hour FROM current_timestamp) AS hour

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('8'),)]

In [63]:
%%sql

SELECT extract(minute FROM current_timestamp) AS minute

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('30'),)]

In [64]:
%%sql

SELECT extract(second FROM current_timestamp) AS second

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('49.619289'),)]

In [65]:
%%sql

SELECT extract(milliseconds FROM current_timestamp) AS millis

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('53503.886'),)]

### Dealing with Unix Timestamp

Let us go through the functions that can be used to deal with Unix Timestamp.

* `extract` with `epoch` can be used to convert Unix epoch to regular timestamp. We can also use `date_part`;
* `to_timestamp` can be used to convert timestamp to Unix epoch.
* We can get Unix epoch or Unix timestamp by running `date '+%s'` in Unix/Linux terminal

Let us sww how we can use functions such as `extract` or `to_timestamp` to convert between timestamp and Unix timestamp or epoch.

* We can unix epoch in Unix/Linux terminal using `date '+%s'`

In [66]:
%%sql

SELECT extract(epoch FROM current_date) AS date_epoch

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('1677715200'),)]

In [67]:
%%sql

SELECT date_part('epoch', current_date) AS date_epoch

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(1677715200.0,)]

In [68]:
%%sql

SELECT extract(epoch FROM '2019-04-30 18:18:51'::timestamp) AS unixtime

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(Decimal('1556648331.000000'),)]

In [69]:
%%sql

SELECT to_timestamp(1556662731) AS time_from_epoch

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.datetime(2019, 4, 30, 22, 18, 51, tzinfo=datetime.timezone.utc),)]

In [70]:
%%sql

SELECT to_timestamp(1556662731)::date AS time_from_epoch

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(datetime.date(2019, 4, 30),)]

In [71]:
%%sql

SELECT to_char(to_timestamp(1556662731), 'yyyyMM')::int AS yyyyMM_from_epoch

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(201904,)]