# Load SQL and Connect to DB

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Connect to DB**

In [36]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

# DDL Prectice

- DDL stands for **Data Defination Language**
- As part of Applicatio development we use DDL very Less
- Common DDL task is :- Create table, Creating Indexes, Adding costraints
- Less common DDL task with `ALTER` command 
    - Adding columns to existing tables.
    - Droping columns
    - Chainging Data Type

In [4]:
%%sql

 Drop Table if Exists shubham.users

Done.

[]

In [7]:
%%sql 

    Create Table shubham.users(
        user_id SERIAL PRIMARY KEY,
        user_first_name VARCHAR(30) NOT NULL,
        user_lasst_name VARCHAR(30) NOT NULL,
        user_email_id VARCHAR(30) NOT NULL,
        user_email_validated BOOLEAN DEFAULT FALSE,
        user_password VARCHAR(200),
        user_role VARCHAR(1) NOT NULL DEFAULT 'U', -- U and A
        is_active BOOLEAN DEFAULT FALSE,
        created_dt DATE DEFAULT CURRENT_DATE,
        last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    
    );

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- Add comment in the existing table (In the postgress we can not use comment in the create statement but other then this we can use in the create statement itself)

In [8]:
%%sql

    COMMENT ON TABLE shubham.users IS 'Stores all user details'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- Comments for columns

In [13]:
%%sql 

    COMMENT ON COLUMN shubham.users.user_first_name IS 'User First Name';
    COMMENT ON COLUMN shubham.users.user_lasst_name IS 'User Last Name';
    COMMENT ON COLUMN shubham.users.user_role IS 'User role';

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.
Done.
Done.

[]

In [16]:
%%sql
    
    select * from information_schema.COLUMNS 
    where table_name = 'users'
    order by ordinal_position

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[('shubham_sms_db', 'shubham', 'users', 'user_id', 1, "nextval('shubham.users_user_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'user_first_name', 2, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'user_lasst_name', 3, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'user_email_id', 4, None, 'NO', 'character varying', 30, 120, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'user_email_validated', 5, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'bool', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'user_password', 6, None, 'YES', 'character varying', 200, 800, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'user_role', 7, "'U'::character varying", 'NO', 'character varying', 1, 4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'is_active', 8, 'false', 'YES', 'boolean', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'bool', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'created_dt', 9, 'CURRENT_DATE', 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'date', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('shubham_sms_db', 'shubham', 'users', 'last_updated_ts', 10, 'CURRENT_TIMESTAMP', 'YES', 'timestamp without time zone', None, None, None, None, None, 6, None, None, None, None, None, None, None, None, None, None, None, 'shubham_sms_db', 'pg_catalog', 'timestamp', None, None, None, None, '10', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

- Supported Data type in sql
    - SERIAL :- integer which is populated by a special database object called sequence. it is typically used for surrogate primary Key
    - When SERIAL is specified, a sequence with table_name_serial_column_seq naming cinvention will be created.
    - INT or INTEGER :- for integer values 
    - FLOAT or DOUBLE :- can be use to defile columns like price, salary etc
    - VARCHAR :- define variable length such as name, email
    - CHAR :- define fix length string columns
    - BOOLAN :- used to store TRUE and FALSE
    - DATE or TIMESTAMP :- for date and timestamp

In [19]:
%%sql 

 DROP table if exists shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [20]:
  %%sql 
    
    Create Table shubham.users(
        user_id INT,
        user_first_name VARCHAR(30) NOT NULL,
        user_last_name VARCHAR(30) NOT NULL,
        user_email_id VARCHAR(50) NOT NULL,
        user_email_validated BOOLEAN ,
        user_password VARCHAR(200),
        user_role VARCHAR(1) , -- U and A
        is_active BOOLEAN ,
        created_dt DATE DEFAULT CURRENT_DATE

    );

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [25]:
%%sql 

    select table_catalog,
            table_name,
            column_name,
            data_type,
            ordinal_position
            from information_schema.columns
        where table_name = 'users'
        order by ordinal_position

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
9 rows affected.

[('shubham_sms_db', 'users', 'user_id', 'integer', 1),
 ('shubham_sms_db', 'users', 'user_first_name', 'character varying', 2),
 ('shubham_sms_db', 'users', 'user_last_name', 'character varying', 3),
 ('shubham_sms_db', 'users', 'user_email_id', 'character varying', 4),
 ('shubham_sms_db', 'users', 'user_email_validated', 'boolean', 5),
 ('shubham_sms_db', 'users', 'user_password', 'character varying', 6),
 ('shubham_sms_db', 'users', 'user_role', 'character varying', 7),
 ('shubham_sms_db', 'users', 'is_active', 'boolean', 8),
 ('shubham_sms_db', 'users', 'created_dt', 'date', 9)]

- Alter Statement

In [27]:
%%sql

 Create sequence shubham.users_user_id_seq

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [30]:
%%sql

    Alter table shubham.users
        Alter column user_id set default nextval ('shubham.users_user_id_seq')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [38]:
%%sql 

    select table_catalog,
            table_name,
            column_name,
            data_type,
            character_maximum_length,
            column_default,
            is_nullable,
            ordinal_position
            from information_schema.columns
        where table_name = 'users'
        order by ordinal_position

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[('shubham_sms_db', 'users', 'user_id', 'integer', None, "nextval('shubham.users_user_id_seq'::regclass)", 'YES', 1),
 ('shubham_sms_db', 'users', 'user_first_name', 'character varying', 30, None, 'NO', 2),
 ('shubham_sms_db', 'users', 'user_last_name', 'character varying', 30, None, 'NO', 3),
 ('shubham_sms_db', 'users', 'user_email_id', 'character varying', 50, None, 'NO', 4),
 ('shubham_sms_db', 'users', 'user_email_validated', 'boolean', None, 'false', 'YES', 5),
 ('shubham_sms_db', 'users', 'user_password', 'character varying', 200, None, 'YES', 6),
 ('shubham_sms_db', 'users', 'user_role', 'character', 1, "'U'::bpchar", 'YES', 7),
 ('shubham_sms_db', 'users', 'is_active', 'boolean', None, 'false', 'YES', 8),
 ('shubham_sms_db', 'users', 'created_dt', 'date', None, 'CURRENT_DATE', 'YES', 9),
 ('shubham_sms_db', 'users', 'last_updated_ts', 'timestamp without time zone', None, 'CURRENT_TIMESTAMP', 'YES', 10)]

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]