# Load SQL and Connect to DB

In [1]:
%load_ext sql

**Connect to DB**

In [2]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

# Filtering Data

**Let us uderstand how we can filter the data as part of queries**

## We use **WHERE** close to filter the data
   - All comparison operators such as **=, !=, >, <, <= , >=** etc can be used to compare a column or expression or literal with another column or expression or literal.

In [3]:
%%sql

select * from shubham.orders
    where order_status = 'COMPLETE'
        limit 10

10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (15, datetime.datetime(2013, 7, 25, 0, 0), 2568, 'COMPLETE'),
 (17, datetime.datetime(2013, 7, 25, 0, 0), 2667, 'COMPLETE'),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 333, 'COMPLETE'),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 7562, 'COMPLETE'),
 (28, datetime.datetime(2013, 7, 25, 0, 0), 656, 'COMPLETE'),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 3960, 'COMPLETE')]

## We can use oerators such as LIKE with % or ~ with regular expressions for pattern matching

## Boolen OR and AND can be performed when we want to apply multiple conditions.
   - Get all orders with order_status equals to COMPLETE or CLOSED.
   - Get all orders from month 2014 January with order_status equals to COMPLETE or CLOSED

## We Can also use BETWEEN along with AND to compare a column or expression against range of values.

## we need to use IS NULL and IS NOT NULL to compare against null values.