# Load SQL and Connect to DB

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**Connect to DB**

In [38]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

## Joining Tables - Inner

- We will primarily focous on ASCII style join (**JOIN WITH ON**)
- There are two types of joins.
    - `INNER JOIN` - GET all the records from both the datasets which satisfies JOIN codition.
    - `OUTER JOIN` - 
- Example of INNER join
 
         select o.order_id,
               o.order_date,
               o.order_status,
               oi.order_item_subtotal
         from shubham.orders as o 
             INNER JOIN order_items as oi
             on o.order_id = oi.order_item_order_id
            Limit 10
            
- We can join more then 2 tables in one query 
        select o.order_id,
               o.order_date,
               o.order_status,
               oi.order_item_subtotal
         from shubham.orders as o 
             INNER JOIN order_items as oi
             on o.order_id = oi.order_item_order_id
             INNER JOIN products as p
             on  p.product_id = oi.order_item_product_id
            Limit 10
            
- if we have to apply additional filters, it is recommended to use WHERE clause. ON clause should only have join conditions.
- We can have non equal join conditions as well, but they are not used that often.

- **Example 1 :-** `Get order id, date, status and item revenue for all items.`

In [34]:
%%sql 

 Select a.order_id,
        a.order_date,
        a.order_status,
        b.order_item_subtotal
 from shubham.orders as a
        INNER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
        order by a.order_id
        LIMIT 5;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
5 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 129.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 49.98)]

- Count check 
1. count of orders
2. count of order items 
3. count of inner join table that should be equal to order item table because we do not have any null value for order_item_order_id

In [17]:
%%sql

select count(*) from shubham.orders;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(68883,)]

In [16]:
%%sql 

select count(*) from shubham.order_items;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(172198,)]

In [18]:
%%sql 


 Select count(*)
 from shubham.orders as a
        INNER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
        LIMIT 5;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(172198,)]

- **Example 2 :-** `Get order id, date, status and item revenue for all order items for all orders where order status is either COMPLETE or CLOSED.`

In [35]:
%%sql 

    select a.order_id,
           a.order_date,
           a.order_status,
           b.order_item_subtotal
    from shubham.orders as a
        INNER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where a.order_status IN ('COMPLETE','CLOSED')
    order by a.order_id
     LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 199.92),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 299.95),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.95),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 129.99),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 99.96),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 299.98)]

- Count check 
- The JOIN table will be have less count this time because we make a filter in that

In [25]:
%%sql 

    select count(*)
    from shubham.orders as a
        INNER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where a.order_status IN ('COMPLETE','CLOSED')
     LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(75408,)]

- **Example 3 :-** `Get order, id, date, status and item revenue for all order items for all orders where order status is either COMPLETE or CLOSED for the orders that are placed in the month of 2014 January`

In [36]:
%%sql

    select a.order_id,
           a.order_date,
           a.order_status,
           b.order_item_subtotal
    from shubham.orders as a
        INNER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where a.order_status IN ('COMPLETE', 'CLOSED')
        and to_char(a.order_date, 'yyyy-MM') = '2014-01'
        order by a.order_id
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(25882, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 399.98),
 (25882, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 79.98),
 (25882, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 299.97),
 (25882, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 100.0),
 (25888, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 299.98),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 19.99),
 (25889, datetime.datetime(2014, 1, 1, 0, 0), 'COMPLETE', 99.96),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 'CLOSED', 119.97),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 'CLOSED', 50.0),
 (25891, datetime.datetime(2014, 1, 1, 0, 0), 'CLOSED', 150.0)]

- Count check 
- The JOIN table will be have less count this time because we make a filter in that

In [29]:
%%sql

    select count(*)
    from shubham.orders as a
        INNER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where a.order_status IN ('COMPLETE', 'CLOSED')
        and to_char(a.order_date, 'yyyy-MM') = '2014-01'
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(6198,)]

## Joining Tables - OUTER

- There are 3 different types of outer joins.
   - `LEFT OUTER JOIN` (default) - Get all the records from both the datasets which satisfies JOIN codition along with those records which are in the left side table but ot in the right side table.
   - `RIGHT OUTER JOIN` - Get all the records from both the datasets which satisfies JOIN condition along with those records which are in the right side table but not in the left side table.
   - `FULL OUTER JOIN` - left union right
   - When we perform the outer join (lets say left outer join) we will see this.
       - Get all the values frim both the table when jiun condition satisfies.
       - If there are rows on left side tables for which there are no corresponding values in right side table, all the projected column values for right side table will be null
- **Example 1 :-** `Get all the orders where there are no corresponding order items.`

In [33]:
%%sql 

    select a.order_id,
           a.order_date,
           a.order_status,
           b.order_item_order_id,
           b.order_item_subtotal
    from shubham.orders as a
        LEFT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    order by a.order_id
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 1, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 199.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 129.99),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.95)]

- Count check 
- The JOIN table will be have less count this time because we make a filter in that

In [40]:
%%sql 

    select count(*)
    from shubham.orders as a
        LEFT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(183650,)]

- Orders which is in the orders but not in the order_items

In [51]:

%%sql 

    select a.order_id,
           a.order_date,
           a.order_status,
           b.order_item_order_id,
           b.order_item_subtotal
    from shubham.orders as a
        LEFT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where b.order_item_order_id is null
    order by a.order_id
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(3, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (22, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (26, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (32, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', None, None),
 (40, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (47, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (53, datetime.datetime(2013, 7, 25, 0, 0), 'PROCESSING', None, None),
 (54, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', None, None),
 (55, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING', None, None)]

In [44]:

%%sql 

    select count(*)
    from shubham.orders as a
        LEFT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where b.order_item_order_id is null

    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(11452,)]

- **Example 2 :-** `Get all the orders where there are no corresponding orders.`

In [52]:
%%sql 

    select a.order_id,
           a.order_date,
           a.order_status,
           b.order_item_order_id,
           b.order_item_subtotal
    from shubham.orders as a
        RIGHT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    order by a.order_id
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 1, 299.98),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 250.0),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 129.99),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 'PENDING_PAYMENT', 2, 199.99),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 299.95),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 150.0),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 49.98),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 'CLOSED', 4, 199.92),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.95),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 'COMPLETE', 5, 299.98)]

In [55]:
%%sql 

    select COUNT(*)
    from shubham.orders as a
        RIGHT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(172198,)]

In [56]:
%%sql 

    select a.order_id,
           a.order_date,
           a.order_status,
           b.order_item_order_id,
           b.order_item_subtotal
    from shubham.orders as a
        RIGHT OUTER JOIN shubham.order_items as b
        ON a.order_id = b.order_item_order_id
    where a.order_id is null
    order by a.order_id
    LIMIT 10;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
0 rows affected.

[]