# Overview of PartitioningÂ¶
 Most of the modern database technologies support wide variety of partitioning strategies. However, here are the most commonly used ones.

- List Partitioning
- Range Partitioning
- Hash Partitioning
- List and Range are more widely used compared to Hash Partitioning.
- We can also mix and match these to have multi level partitioning. It is known as sub partitioning.
- We can either partition a table with out primary key or partition a table with primary key when partition column is prime attribute (one of the primary key columns).
- Indexes can be added to the partitioned table. If we create on the main table, it is global index and if we create index on each partition then it is partitioned index.

# List Partitioning
Let us understand how we can take care of list partitioning of tables.

- It is primarily used to create partitions based up on the values.
- Here are the steps involved in creating table using list partitioning strategy.
- Create table using PARTITION BY LIST
- Add default and value specific partitions
- Validate by inserting data into the table
- We can detach as well as drop the partitions from the table.

## Create Partitioned Table
Let us create partitioned table with name **users_part.**

- It contains same columns as <font color = 'pink'>users</font>.

- We will partition based up on <font color = 'pink'> user_role field</font>.

# Load SQL

In [1]:
%load_ext sql

# connect DB

In [2]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

In [4]:
%%sql 

select * from shubham.orders limit 10

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]