# Overview of Partitioning¶
 Most of the modern database technologies support wide variety of partitioning strategies. However, here are the most commonly used ones.

- List Partitioning
- Range Partitioning
- Hash Partitioning
- List and Range are more widely used compared to Hash Partitioning.
- We can also mix and match these to have multi level partitioning. It is known as sub partitioning.
- We can either partition a table with out primary key or partition a table with primary key when partition column is prime attribute (one of the primary key columns).
- Indexes can be added to the partitioned table. If we create on the main table, it is global index and if we create index on each partition then it is partitioned index.

# Load SQL

In [1]:
%load_ext sql

# connect DB

In [61]:
%env DATABASE_URL = postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

env: DATABASE_URL=postgresql://shubham_sms_user:shubham@172.25.87.65:5432/shubham_sms_db

# List Partitioning
Let us understand how we can take care of list partitioning of tables.

- It is primarily used to create partitions based up on the values.
- Here are the steps involved in creating table using list partitioning strategy.
- Create table using PARTITION BY LIST
- Add default and value specific partitions
- Validate by inserting data into the table
- We can detach as well as drop the partitions from the table.

## Create Partitioned Table
Let us create partitioned table with name **users_part.**

- It contains same columns as <font color = 'pink'>users</font>.

- We will partition based up on <font color = 'pink'> user_role field</font>.

In [6]:
%%sql 

Drop table if exists shubham.users

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [7]:
%%sql

   Create Table shubham.users(
        user_id SERIAL PRIMARY KEY,
        user_first_name VARCHAR(30) NOT NULL,
        user_last_name VARCHAR(30) NOT NULL,
        user_email_id VARCHAR(50) NOT NULL,
        user_email_validated BOOLEAN DEFAULT FALSE,
        user_password VARCHAR(200),
        user_role VARCHAR(1) NOT NULL DEFAULT 'U', -- U and A
        is_active BOOLEAN DEFAULT FALSE,
        created_dt DATE DEFAULT CURRENT_DATE,
        last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [8]:
%%sql 

drop table if exists users_part

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [10]:
%%sql

   Create Table shubham.users_part(
        user_id SERIAL ,
        user_first_name VARCHAR(30) NOT NULL,
        user_last_name VARCHAR(30) NOT NULL,
        user_email_id VARCHAR(50) NOT NULL,
        user_email_validated BOOLEAN DEFAULT FALSE,
        user_password VARCHAR(200),
        user_role VARCHAR(1) NOT NULL DEFAULT 'U', -- U and A
        is_active BOOLEAN DEFAULT FALSE,
        created_dt DATE DEFAULT CURRENT_DATE,
        last_updated_ts TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        primary key (user_role, user_id)
    ) PARTITION BY LIST (user_role);

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- additional index on the user part table on Email column

In [13]:
%%sql 

create index users_part_email_id_idx
    on shubham.users_part(user_email_id)

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- If we try to insert the data into the partition table at this time (without adding the partitions) it will give us error. So we need to first add the partition then we will be able to add the data.

In [16]:
%%sql 

insert into shubham.users_part(user_first_name, user_last_name,user_email_id)
    values
        ('Scott','Tiger','scott@tiger.com'),
        ('Donald', 'Duck','donald@duck.com'),
        ('Mickey','Mouse','mickey@mouse.com')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db

IntegrityError: (psycopg2.errors.CheckViolation) no partition of relation "users_part" found for row
DETAIL:  Partition key of the failing row contains (user_role) = (U).

[SQL: insert into shubham.users_part(user_first_name, user_last_name,user_email_id)
    values
        ('Scott','Tiger','scott@tiger.com'),
        ('Donald', 'Duck','donald@duck.com'),
        ('Mickey','Mouse','mickey@mouse.com')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

## Managing Partitions - List

Let us understand how to manage partitions for a partitioned table using <font color = 'pink'>users_part</font>.

- All users data with <font color = 'pink'>user_role</font> as **‘U’** should go to one partition by name <font color = 'pink'>users_part_u</font>.
- All users data with <font color = 'pink'>user_role</font> as **‘A’** should go to one partition by name <font color= 'pink'>users_part_a</font>.
- We can add partition to existing partitioned table using <font color='pink'>CREATE TABLE partition_name PARTITION OF table_name</font>.
- We can have a partition for default values so that all the data that does not satisfy the partition condition can be added to it.
- We can have a partition for each value or for a set of values.
    - We can have one partition for <font color = 'pink'>U</font> as well as <font color ='pink'>A</font> and default partition for all other values.
    - We can have individual partitions for <font color = 'pink'>U, A</font> respectively and default partition for all other values.
    - We can use <font color = 'pink'>FOR VALUES IN (val1, val2)</font> as part of <font color= 'pink'>CREATE TABLE partition_name PARTITION OF table_name</font> to specify values for respective table created for partition.
- Once partitions are added, we can insert data into the partitioned table.
- We can detach using <font color ='pink'>ALTER TABLE</font> and drop the partition or drop the partition directly. To drop the partition we need to use <font color = 'pink'>DROP TABLE</font> command.

- we will create partition and then we will add them into the table then we will enter the data
- We need to create the default partition also becaue if the data is not belong to any partition then that data will be the part of the default partition.
- To create the default partition we will use the keyword <font color = 'pink'>DEFAULT</font> at the end of the statemet.

In [22]:
%%sql 

create table shubham.users_part_default -- name of the partition table
    partition of shubham.users_part default

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

- We have created the partition for the table and add that to the main table 
- Now we can insert the data and according to partition coloum data will be add to that partition table 
- We can insert the data directly to the specific partition table but it is recommended to add the data into main partition table it will automatically assign to the specific partition table.

In [23]:
%%sql 

insert into shubham.users_part(user_first_name, user_last_name,user_email_id,user_role)
    values
        ('Scott','Tiger','scott@tiger.com','U'),
        ('Donald', 'Duck','donald@duck.com','U'),
        ('Mickey','Mouse','mickey@mouse.com','U')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[]

- Check the data into all the partition tables and main table
- till now we have only make a default partition so the data will be in the defult table.

In [24]:
%%sql
 
    select * from shubham.users_part

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[(2, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259))]

In [50]:
%%sql 

    select * from shubham.users_part_default

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 59, 3, 902444))]

- Now we will create and add the other partition tables and insert the data into them

In [53]:
%%sql 

    create table shubham.users_part_A
        partition of shubham.users_part
            for values IN ('A') -- for values used to give the constrain on the values we specify in the IN clause

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [56]:
%%sql 

    update shubham.users_part
        set user_role = 'A'
        where user_email_id = 'scott@tiger.com'

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[]

In [57]:
%%sql

    select * from shubham.users_part

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[(5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 59, 3, 902444)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259))]

In [58]:
%%sql 

select * from shubham.users_part_default;

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
2 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259))]

In [59]:
%%sql 

select * from shubham.users_part_A

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
1 rows affected.

[(5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 59, 3, 902444))]

- Now if we try to create the partition for user role <font color = 'pink'>U</font> then it will throw error because we already have the data for the user role <font color = 'pink'>U</font>.

In [62]:
%%sql

create table shubham.users_part_U
    partition of shubham.users_part
     for values IN('U')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db

IntegrityError: (psycopg2.errors.CheckViolation) updated partition constraint for default partition "users_part_default" would be violated by some row

[SQL: create table shubham.users_part_U partition of shubham.users_part
     for values IN('U')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

- To rectify this error we need to follow the below steps.
    1. Detach the **DEFAULT** partition table form the main table
    2. Create the partition table 
    3. Insert the data into main table again form detached default table.
    4. Drop the  default table 
    5. Re-create the default partition table

In [64]:
%%sql 

Alter table shubham.users_part
    detach partition shubham.users_part_default

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [65]:
%%sql

create table shubham.users_part_U
    partition of shubham.users_part
     for values IN('U')

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [66]:
%%sql 

insert into shubham.users_part
select * from shubham.users_part_default

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
2 rows affected.

[]

In [67]:
%%sql

select * from shubham.users_part

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
3 rows affected.

[(5, 'Scott', 'Tiger', 'scott@tiger.com', False, None, 'A', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 59, 3, 902444)),
 (3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259))]

In [68]:
%%sql

select * from shubham.users_part_U

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
2 rows affected.

[(3, 'Donald', 'Duck', 'donald@duck.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259)),
 (4, 'Mickey', 'Mouse', 'mickey@mouse.com', False, None, 'U', False, datetime.date(2023, 2, 16), datetime.datetime(2023, 2, 16, 6, 42, 43, 342259))]

In [70]:
%%sql 

drop table shubham.users_part_default

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

In [71]:
%%sql 

create table shubham.users_part_default
    partition of shubham.users_part default

 * postgresql://shubham_sms_user:***@172.25.87.65:5432/shubham_sms_db
Done.

[]

## Manipulating the Data

- We can insert data using the table (most preferred way).
- As we define table for each partition, we can insert data using table created for specific partition.
- In the case of users_part partitioned table, we can either use table nameusers_part or partition name users_part_u to insert records with user_role ‘U’.

``` SQL
CREATE TABLE users_part_u 
PARTITION OF users_part  
FOR VALUES IN ('U') 
```

- As part of the update, if we change the value in a partitioned column which will result in changing partition, then internally data from one partition will be moved to other.
- We can delete the data using the table or the table created for each partition (either by using table name users_part or partitions such as users_part_u, users_part_a etc
- DML is same irrespective of the partitioning strategy. This applies to all 3 partitioning strategies - list, range as well as hash.