In [2]:
%load_ext sql

In [6]:
%env DATABASE_URL = postgresql://retail_db_user:shubham@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_db_user:shubham@localhost:5432/retail_db

In [7]:
%%sql

select * from shubham.orders limit 10

 * postgresql://retail_db_user:***@localhost:5432/retail_db
10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [8]:
%env DB_HOST = localhost

env: DB_HOST=localhost

In [9]:
import os 
os.environ.get('DB_HOST')

'localhost'