In [1]:
import pandas as ps

In [2]:
query = '''
select * from shubham.departments
'''

In [5]:
uri = 'postgresql://retail_db_user:shubham@localhost:5432/retail_db'

In [7]:
ps.read_sql(
            query,
            uri
)

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop