In [7]:
import pandas as pd 
import json

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL = postgresql://retail_db_user:shubham@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_db_user:shubham@localhost:5432/retail_db

In [4]:
%%sql 

TRUNCATE TABLE shubham.orders

Done.

[]

In [6]:
def get_column_name(schema, tableName, sortingKey = 'column_position'):
    column_details = schema[tableName]
    column_details_sort = sorted(column_details, key= lambda col:col[sortingKey])
    return [col['column_name'] for col in column_details_sort]

In [10]:
schemas= json.load(open('E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db/schemas.json'))
schemas

{'departments': [{'column_name': 'department_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'department_name',
   'data_type': 'string',
   'column_position': 2}],
 'categories': [{'column_name': 'category_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'category_department_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'category_name',
   'data_type': 'string',
   'column_position': 3}],
 'orders': [{'column_name': 'order_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
  {'column_name': 'order_customer_id',
   'data_type': 'timestamp',
   'column_position': 3},
  {'column_name': 'order_status',
   'data_type': 'string',
   'column_position': 4}],
 'products': [{'column_name': 'product_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'product_cateogry_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'product_name', 'data_type': '', 'column_position': 3},
  {'column_name': 'product_description',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'product_price', 'data_type': 'float', 'column_position': 5},
  {'column_name': 'product_image',
   'data_type': 'string',
   'column_position': 6}],
 'customers': [{'column_name': 'customer_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'customer_fname',
   'data_type': 'string',
   'column_position': 2},
  {'column_name': 'customer_lname',
   'data_type': 'string',
   'column_position': 3},
  {'column_name': 'customer_email',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'customer_password',
   'data_type': 'string',
   'column_position': 5},
  {'column_name': 'customer_street',
   'data_type': 'string',
   'column_position': 6},
  {'column_name': 'customer_city',
   'data_type': 'string',
   'column_position': 7},
  {'column_name': 'customer_state',
   'data_type': 'string',
   'column_position': 8},
  {'column_name': 'customer_zipcode',
   'data_type': 'integer',
   'column_position': 9}],
 'order_items': [{'column_name': 'order_item_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_item_order_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'order_item_product_id',
   'data_type': 'integer',
   'column_position': 3},
  {'column_name': 'order_item_quantity',
   'data_type': 'integer',
   'column_position': 4},
  {'column_name': 'order_item_subtotal',
   'data_type': 'float',
   'column_position': 5},
  {'column_name': 'order_item_product_price',
   'data_type': 'float',
   'column_position': 6}]}

In [11]:
columns = get_column_name(schemas, 'orders')

In [14]:
df = pd.read_csv(
                'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db/orders/part-00000',
                names=columns
)
df

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [15]:
con_url = 'postgresql://retail_db_user:shubham@localhost:5432/retail_db'

In [20]:
df.to_sql(
            'orders',
            con_url,
            schema='shubham',
            if_exists='append',
            index=False
)

883

In [21]:
pd.read_sql(
            'select * from shubham.orders',
            con_url,
)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]

##  Write CSV data form files to dabase in chanks

In [23]:
%%sql

TRUNCATE TABLE shubham.orders

 * postgresql://retail_db_user:***@localhost:5432/retail_db
Done.

[]

In [24]:
pd.read_sql(
            'select * from shubham.orders',
            con_url
)

Empty DataFrame
Columns: [order_id, order_date, order_customer_id, order_status]
Index: []

In [36]:
df = pd.read_csv(
                'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db/orders/part-00000',
                names= columns,
                chunksize=10000

)
df

In [37]:
df_list = list(df)
df_list[0]

      order_id             order_date  order_customer_id     order_status
0            1  2013-07-25 00:00:00.0              11599           CLOSED
1            2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2            3  2013-07-25 00:00:00.0              12111         COMPLETE
3            4  2013-07-25 00:00:00.0               8827           CLOSED
4            5  2013-07-25 00:00:00.0              11318         COMPLETE
...        ...                    ...                ...              ...
9995      9996  2013-09-25 00:00:00.0              11839          PENDING
9996      9997  2013-09-25 00:00:00.0               3471  PENDING_PAYMENT
9997      9998  2013-09-25 00:00:00.0               9419          PENDING
9998      9999  2013-09-25 00:00:00.0               1185           CLOSED
9999     10000  2013-09-25 00:00:00.0               8983       PROCESSING

[10000 rows x 4 columns]

In [40]:
df = pd.read_csv(
                'E:/Projects/Data_Engineering/Data-Engineering/material/02_PYTHON/File_Format_Converter_Project_1/data/retail_db/orders/part-00000',
                names= columns,
                chunksize=10000

)

In [42]:
for idx, df in enumerate(df):
    print(f'Size of chunk {idx} is {df.shape}')
    df.to_sql(
            'orders',
            con_url,
            schema='shubham',
            if_exists='append',
            index=False
            )
    print(f'Data load for chunl {idx}')

Size of chunk 0 is (10000, 4)
Data load for chunl 0
Size of chunk 1 is (10000, 4)
Data load for chunl 1
Size of chunk 2 is (10000, 4)
Data load for chunl 2
Size of chunk 3 is (10000, 4)
Data load for chunl 3
Size of chunk 4 is (10000, 4)
Data load for chunl 4
Size of chunk 5 is (10000, 4)
Data load for chunl 5
Size of chunk 6 is (8883, 4)
Data load for chunl 6

In [43]:
pd.read_sql(
            'select * from shubham.orders',
            con_url
    
)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]

In [44]:
%pip show pandas

Name: pandasNote: you may need to restart the kernel to use updated packages.

Version: 2.0.0
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page:
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

        Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
        All rights reserved.

        Copyright (c) 2011-2023, Open source contributors.

        Redistribution and use in source and binary forms, with or without
        modification, are permitted provided that the following conditions are met:

        * Redistributions of source code must retain the above copyright notice, this
          list of conditions and the following disclaimer.

        * Redistributions in binary form must reproduce the above copyright notice,
          this list of conditions and the following disclaimer in the documentation
          and/or other materials provided with the distribution.

        * Neither the name of the copyright holder nor the names of its
          contributors may be used to endorse or promote products derived from
          this software without specific prior written permission.

        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
        AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
        IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
        DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
        FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
        DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
        CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
        OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
        OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: e:\projects\data_engineering\data-engineering\data-venv\lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by:

In [45]:
help(df.to_sql)

Help on method to_sql in module pandas.core.generic:

to_sql(name: 'str', con, schema: 'str | None' = None, if_exists: "Literal['fail', 'replace', 'append']" = 'fail', index: 'bool_t' = True, index_label: 'IndexLabel' = None, chunksize: 'int | None' = None, dtype: 'DtypeArg | None' = None, method: 'str | None' = None) -> 'int | None' method of pandas.core.frame.DataFrame instance
    Write records stored in a DataFrame to a SQL database.

    Databases supported by SQLAlchemy [1]_ are supported. Tables can be
    newly created, appended to, or overwritten.

    Parameters
    ----------
    name : str
        Name of SQL table.
    con : sqlalchemy.engine.(Engine or Connection) or sqlite3.Connection
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. Legacy support is provided for sqlite3.Connection objects. The user
        is responsible for engine disposal and connection closure for the SQLAlchemy
        connectable. See `here                 <https://docs.sqlalchemy.org/en/20/core/connections.html>`_.
        If passing a sqlalchemy.engine.Connection which is already in a transaction,
        the transaction will not be committed.  If passing a sqlite3.Connection,
        it will not be possible to roll back the record insertion.

    schema : str, optional
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        How to behave if the table already exists.

        * fail: Raise a ValueError.
        * replace: Drop the table before inserting new values.
        * append: Insert new values to the existing table.

    index : bool, default True
        Write DataFrame index as a column. Uses `index_label` as the column
        name in the table.
    index_label : str or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, optional
        Specify the number of rows in each batch to be written at a time.
        By default, all rows will be written at once.
    dtype : dict or scalar, optional
        Specifying the datatype for columns. If a dictionary is used, the
        keys should be the column names and the values should be the
        SQLAlchemy types or strings for the sqlite3 legacy mode. If a
        scalar is provided, it will be applied to all columns.
    method : {None, 'multi', callable}, optional
        Controls the SQL insertion clause used:

        * None : Uses standard SQL ``INSERT`` clause (one per row).
        * 'multi': Pass multiple values in a single ``INSERT`` clause.
        * callable with signature ``(pd_table, conn, keys, data_iter)``.

        Details and a sample callable implementation can be found in the
        section :ref:`insert method <io.sql.method>`.

    Returns
    -------
    None or int
        Number of rows affected by to_sql. None is returned if the callable
        passed into ``method`` does not return an integer number of rows.

        The number of returned rows affected is the sum of the ``rowcount``
        attribute of ``sqlite3.Cursor`` or SQLAlchemy connectable which may not
        reflect the exact number of written rows as stipulated in the
        `sqlite3 <https://docs.python.org/3/library/sqlite3.html#sqlite3.Cursor.rowcount>`__ or
        `SQLAlchemy <https://docs.sqlalchemy.org/en/20/core/connections.html#sqlalchemy.engine.CursorResult.rowcount>`__.

        .. versionadded:: 1.4.0

    Raises
    ------
    ValueError
        When the table already exists and `if_exists` is 'fail' (the
        default).

    See Also
    --------
    read_sql : Read a DataFrame from a table.

    Notes
    -----
    Timezone aware datetime columns will be written as
    ``Timestamp with timezone`` type with SQLAlchemy if supported by the
    database. Otherwise, the datetimes will be stored as timezone unaware
    timestamps local to the original timezone.

    References
    ----------
    .. [1] https://docs.sqlalchemy.org
    .. [2] https://www.python.org/dev/peps/pep-0249/

    Examples
    --------
    Create an in-memory SQLite database.

    >>> from sqlalchemy import create_engine
    >>> engine = create_engine('sqlite://', echo=False)

    Create a table from scratch with 3 rows.

    >>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
    >>> df
         name
    0  User 1
    1  User 2
    2  User 3

    >>> df.to_sql('users', con=engine)
    3
    >>> from sqlalchemy import text
    >>> with engine.connect() as conn:
    ...    conn.execute(text("SELECT * FROM users")).fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

    An `sqlalchemy.engine.Connection` can also be passed to `con`:

    >>> with engine.begin() as connection:
    ...     df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    ...     df1.to_sql('users', con=connection, if_exists='append')
    2

    This is allowed to support operations that require that the same
    DBAPI connection is used for the entire operation.

    >>> df2 = pd.DataFrame({'name' : ['User 6', 'User 7']})
    >>> df2.to_sql('users', con=engine, if_exists='append')
    2
    >>> with engine.connect() as conn:
    ...    conn.execute(text("SELECT * FROM users")).fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
     (0, 'User 4'), (1, 'User 5'), (0, 'User 6'),
     (1, 'User 7')]

    Overwrite the table with just ``df2``.

    >>> df2.to_sql('users', con=engine, if_exists='replace',
    ...            index_label='id')
    2
    >>> with engine.connect() as conn:
    ...    conn.execute(text("SELECT * FROM users")).fetchall()
    [(0, 'User 6'), (1, 'User 7')]

    Specify the dtype (especially useful for integers with missing values).
    Notice that while pandas is forced to store the data as floating point,
    the database supports nullable integers. When fetching the data with
    Python, we get back integer scalars.

    >>> df = pd.DataFrame({"A": [1, None, 2]})
    >>> df
         A
    0  1.0
    1  NaN
    2  2.0

    >>> from sqlalchemy.types import Integer
    >>> df.to_sql('integers', con=engine, index=False,
    ...           dtype={"A": Integer()})
    3

    >>> with engine.connect() as conn:
    ...   conn.execute(text("SELECT * FROM integers")).fetchall()
    [(1,), (None,), (2,)]